/* Typography */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 2px,
    rgba(255,255,255,0.03) 3px
  );
  pointer-events: none;
}
body{
  background: #0D0D0D;
}
.title {
  font-family: VT323;
  font-size: 56px;
  color: #00ff9f;
  text-shadow: 0 0 10px #00ff9f, 0 0 20px #00ff9f;
  transition: opacity 0.05s;
  line-height: 1;
  margin: 0;
}

.subtitle {
  font-family: IBM_Plex_Mono;
  font-size: 16px;
  color: #01ffff;
  margin: 0;
}

.heading {
  font-family: VT323;
  font-size: 28px;
  color: #00ff9f;
  text-shadow: 0 0 4px #00ff9f;
  transition: opacity 0.05s;
}


.flicker-letter.flicker {
  opacity: 0.2;
  text-shadow: none;
}

.body-text {
  font-family: IBM_Plex_Mono;
  font-size: 14px;
  color: #a1a1aa;
  margin-top: 12px;
}

/* Panels */
.panel {
  border: 1px solid #4CAF50;
  padding: 20px;
  background: #333333;
}

/* Skills */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 12px;
  color: #c2fe0c;
}

.skill {
  font-family: IBM_Plex_Mono;
  border: 1px solid #c2fe0c;
  padding: 6px 12px;
  font-size: 13px;
}

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 12px;
}

.card {
  border: 1px solid #2a2a2a;
  padding: 16px;
  background: #0f0f0f;
  transition: all 0.2s ease;
}

.card:hover {
  border-color: #00ff9f;
}

.card-title {
  font-family: VT323;
  font-size: 22px;
  color: #00ff9f;
}
.profile-section {
  display: flex;
  flex-direction: row;
  aling-items: center;
  gap: 24px;
}
.profile { 
  width: 150px;
  height: 150px; 
  overflow: hidden; 
  border-radius: 50%;
  position: relative; 
  flex-shrink: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
} 
.profile img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

